<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head')%>
<body>
  <%- include('../layout/header')%>
  <main>
    <ul>
      <% results.forEach(fish => { %>
        <div>
          <img src="<%= fish.image_url %>" alt="Image of <%= fish.species_name%>">
          <li class="name"><%= fish.species_name %></li>
          <a class="button" href="/searches/details<%= fish.path%>">View Details</a>
        </div>
      <% }) %>
    </ul>





    
  </main>
  <%- include('../layout/footer')%>
</body>
</html>