<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head')%>
<body>
  <%- include('../layout/header')%>
  <main class="fish-container">
    <ul class="fish-list">
      <% results.forEach(fish => { %>
      <a class="fish-path-button" href="/searches/details<%= fish.path%>">
        <div class="fish-div">
            <img class="fish-pic" src="<%= fish.image_url %>" alt="">
            <hr>
             <li id="name"><%= fish.species_name %></li>
        </div>
      </a>
      <% }) %>
    </ul>

  </main>
  <%- include('../layout/footer')%>
</body>
</html>