<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head')%>
<body>
  <%- include('../layout/header')%>
  <main>
    <ul>
      <% results.forEach(plant => { %>
        <div>
          <li class="common_name"><%= plant.common_name %></li>
          <li class="scientific_name"><%= plant.scientific_name %></li>
          <li class="toxicity">Toxicity: <%= plant.toxicity %></li>
          <li class="lifespan">Lifespan: <%= plant.lifespan %></li>
          <li class="growth_period">Growth period: <%= plant.growth_period %></li>
        </div>
      <% }) %>
    </ul>
    
  </main>
  <%- include('../layout/footer')%>
</body>
</html>