<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head')%>
<body>
  <!-- <%- include('../layout/header')%> -->
  <main class="fish-container">
    <ul>
      <% results.forEach(fish => { %>
        <div>
         <img class="fish-pic" src="<%= fish.image_url %>" alt="">
         <hr>
          <li id="name"><%= fish.species_name %></li>
          <a class="button" href="/searches/details<%= fish.path%>">View Details</a>
        </div>
      <% }) %>
    </ul>



    
  </main>
  <%- include('../layout/footer')%>
</body>
</html>